<div class="container mt-5">
    <h2 class="mb-5 text-center">Listado de contactos</h2>

    <div class="text-end mb-3">
        <button class="btn btn-primary" routerLink="/new">
            Nuevo Contacto
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>NIT</th>
                    <th>NOMBRE PUNTO</th>
                    <th>CIUDAD</th>
                    <th>PROMOTOR</th>
                    <th>RTC</th>
                    <th>TRATAMIENTO DATOS</th>
                    <th>FECHA CREACION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (contact of contacts; track contact.id) {
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.nit }}</td>
                    <td>{{ contact.namePunto }}</td>
                    <td>{{ contact.ciudad }}</td>
                    <td>{{ contact.promotor }}</td>
                    <td>{{ contact.rtc }}</td>
                    <td>{{ contact.tratamientoDatos }}</td>
                    <td>{{ contact.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-primary" [routerLink]="['/', contact.id, 'edit']">
                                Editar
                            </button>
                            <button class="btn btn-danger" (click)="deleteContact(contact)">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>